@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');

*{
  padding: 0;
  margin: 0;
}

.m-f{
  font-family: 'Aclonica', sans-serif;
  text-transform: uppercase;
}

body{
  background-image: url(../images/back-img.jpg);
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

main{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.container{
  width: 70%;
  margin: 0 auto;
}

.header{
  height: 100vh;
  color: #ffffff;
  line-height: 50px;
}

.header-content{
  padding-top: 40vh;
  text-align: center;
}

.header-content h1, .intro-content h1, .contact-section h1{
  font-size: 42px;
}

.header-content h2 span{
  color: #f1c11a;
  line-height: 100px;
}

.btn{
  background-color: transparent;
  border: 3px solid #ffffff;
  padding: 15px 35px;
  font-weight: bolder;
  text-decoration: none;
  color: #ffffff;
  margin-right: 15px;
  transition: all 400ms ease-in-out;
}

.btn-fill{
  background-color: #ffffff;
  color: #000000;
}

.btn-fill:hover{
  background-color: #f1c11a;
  border-color: transparent;
}

.btn-trans:hover{
  background-color: #f1c11a;
  color: #000000;
  border-color: transparent;
}

.intro{
  background-color: #ffffff;
  padding: 15vh 0;
}

.intro-content{
  height: 50vh;
  display: flex;
  flex-wrap: wrap;
}

.intro-content div{
  width: 50%;
}

.intro-text p{
  text-align: justify;
  color: #828282;
  line-height: 20px;
}

.services{
  background-color: #f1c11a;
  height: 15vh;
  clip-path: polygon(0 0, 15% 0, 50% 20%, 85% 0, 100% 0, 100% 100%, 0 100%, 0 0);
  margin-top: -15vh;
  padding-bottom: 190px;
}

.service-content{
  display: flex;
  flex-wrap: wrap;
}

.bucket{
  width: 25%;
  margin: 130px 3%;
  color: #ffffff;
}

.bucket p{
  color: #000000;
  text-align: justify;
  line-height: 25px;
}

.contact{
  background-color: #ffffff;
  padding: 10vh 0;
  text-align: center;
}

input[type='text'], input[type=email], textarea{
  width: 100%;
  padding: 12px;
  border-color: 1px solid #cccccc;
}

.contact-section div{
  padding: 10px 3%;
}

.btn-submit{
  background-color: #000000;
  color: #ffffff;
}

.btn-submit:hover{
  background-color: #f1c11a;
  border-color: transparent;
  color: #000000;
}

footer{
  background-color: #f1c11a;
  clip-path: polygon(0 0, 15% 0, 50% 20%, 85% 0, 100% 0, 100% 100%, 0 100%, 0 0);
  margin-top: -10vh;
  text-align: center;
  padding-top: 15vh;
  padding-bottom: 30px;
}



@media screen and (max-width: 1024px){
   .header{
      height:50vh;

  }

  .header-content{
      padding-top:15vh;
       padding-bottom:15vh;
  }

  .services{
        height:18vh;
    }

  .intro{
      height: 20vh;
      padding-top: 60px;
  }

}


@media screen and (max-width: 768px){
    
    .header{
      height: 60vh;
    }

    .intro h1{
      font-size:30px;
    }  

    .intro{
      height:33vh;
    }

    .intro-img{
      padding-top: 50px;
    }

    .services-content{
      padding-top:30px;
    height:59vh;
    }




}





@media screen and (max-width: 414px){
  
  .header-content h2{
    font-size: 20px;

  }

  .intro-content{
    height: 90vh;
  }

   .intro{
      height: 80vh;
      padding-top: 60px;
  }



  .intro-content div{
    width: 100%;
  }

  .services{
    height: 85vh;
    clip-path: polygon(0 0, 15% 0, 50% 5%, 85% 0, 100% 0, 100% 100%, 0 100%, 0 0);
    padding-bottom: 450px;
  }

  .service-content{
    display: block;
    margin-top: -15vh;
    padding-top: 1px;
  }

  .bucket{
    width: 100%;
    margin: 80px 3%;
  }

  .header{
      height:80vh;
  }

  .header-content{
  padding-top: 20vh;
  
  }

  .header-content h1,h2{
      padding-bottom: 25px;
  }

 .header-content h1, .intro-content h1, .contact-section h1{
     font-size: 30px;
  }

  .header-content h2 span{
    line-height: 10px;
  }


 .btn{
  padding: 10px 15px;
  margin-right: 10px;
}

  .contact{
    padding: 8vh 0;
  }

  input .btn{
    line-height: 20px;
  }

 .intro{
  padding: 8vh 0;
}


}

@media screen and (max-width: 375px){
      
  .contact{
    padding: 8vh 0;
  }

  .intro-text{

  }

  .services{
    height: 85vh;
    clip-path: polygon(0 0, 15% 0, 50% 5%, 85% 0, 100% 0, 100% 100%, 0 100%, 0 0);
    padding-bottom: 450px;
  }

}


@media screen and (max-width: 360px){

    .header{
      height:90vh;
  }

   .header-content h1, .intro-content h1, .contact-section h1{
       font-size: 20px;
  }

   .header-content h2{
     font-size: 15px;
  
   }

  .btn{
    padding: 7px 11px;
    margin-right: 5px;
  }

  p{
    font-size: 13px;
  }


.contact{
    padding: 10vh 0;
  }


 .services{
    height: 90vh;
    clip-path: polygon(0 0, 15% 0, 50% 5%, 85% 0, 100% 0, 100% 100%, 0 100%, 0 0);
    padding-bottom: 450px;
  }


}

@media screen and (max-width: 320px){
    .services{
    height: 115vh;
    }

}


